Package: ubuntu-mono
Version: 0.0.5
Architecture: all
Maintainer: Kenneth Wimer <kwwii@ubuntu.com>
Installed-Size: 8152
Depends: humanity-icon-theme, gnome-icon-theme, hicolor-icon-theme
Section: gnome
Priority: optional
Description: Ubuntu Mono Icon theme
 Dark and Light panel icons to make your desktop beautiful
