Source: ubuntu-mono
Section: gnome
Priority: optional
Maintainer: Ubuntu Artwork Team <ubuntu-art@lists.ubuntu.com>
Build-Depends: debhelper (>= 7),
               icon-naming-utils,
	       ubuntu-wallpapers,
	       imagemagick,
	       libmagickcore4-extra,
               python,
               python-scour,
               python-rsvg
Standards-Version: 3.9.2
Vcs-Bzr: https://code.launchpad.net/~ubuntu-art-pkg/ubuntu-mono/trunk

Package: ubuntu-mono
Architecture: all
Depends: ${misc:Depends},
         humanity-icon-theme,
         gnome-icon-theme,
         hicolor-icon-theme
Description: Ubuntu Mono Icon theme
 Dark and Light panel icons to make your desktop beautiful

