Source: ubuntu-mono
Section: gnome
Priority: optional
Maintainer: Ubuntu Artwork Team <ubuntu-art@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               icon-naming-utils,
	       ubuntu-wallpapers,
	       imagemagick,
	       libmagickcore5-extra,
               python,
               python-scour,
               python-rsvg,
Standards-Version: 3.9.3
# If you aren't a member of ~ubuntu-art-pkg but need to upload
# packaging changes, just go ahead. ~ubuntu-art-pkg will notice
# and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~ubuntu-art-pkg/ubuntu-mono/trunk
Vcs-Browser: https://bazaar.launchpad.net/~ubuntu-art-pkg/ubuntu-mono/trunk/files

Package: ubuntu-mono
Architecture: all
Depends: ${misc:Depends},
         humanity-icon-theme,
         gnome-icon-theme,
         hicolor-icon-theme,
Description: Ubuntu Mono Icon theme
 Dark and Light panel icons to make your desktop beautiful

