Package: light-themes
Version: 0.1.6.6~ppa3
Architecture: all
Maintainer: Ubuntu Artwork Team <ubuntu-art@lists.ubuntu.com>
Installed-Size: 912
Depends: gconf2 (>= 2.12.1-1), ubuntu-mono, gtk2-engines-murrine (>= 0.90.3), humanity-icon-theme
Conflicts: phase-themes
Section: gnome
Priority: optional
Description: Light Themes
 Includes Ambiance and Radiance themes
Original-Maintainer: Kenneth Wimer <kwwii@ubuntu.com>
