UnityPanelWidget,
.unity-panel {
    border-width: 0;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.7)),
                                     color-stop (0.042, shade (@dark_bg_color, 1.5)),
                                     color-stop (0.9582, shade (@dark_bg_color, 1.05)),
                                     to (shade (@dark_bg_color, 0.52)));
}

.unity-panel.menubar,
.unity-panel .menubar,
.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 1;
}
