/* Decorations */

UnityDecoration {
    -UnityDecoration-extents: 28px 1px 1px 1px;
    -UnityDecoration-input-extents: 10px;
    -UnityDecoration-title-indent: 10px;
    -UnityDecoration-title-fade: 35px;
    -UnityDecoration-title-alignment: 0.0;
    -UnityDecoration-glow-size: 10px;
    -UnityDecoration-glow-color: rgb (221, 72, 20);
}

UnityDecoration.top {
    border: 1px solid shade (@dark_bg_color, 1.04);
    border-bottom-width: 0;
    border-radius: 8px 8px 0 0;
    padding: 1px 8px 0 8px;

    box-shadow: inset 0 0 transparent, inset 0 0 transparent,
                inset 0 1px shade (@dark_bg_color, 1.8), inset 0 0 transparent;

    background-color: transparent;
    background-clip: border-box;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.5)),
                                     to (shade (@dark_bg_color, 1.04)));

    color: @dark_fg_color;
    text-shadow: 0 -1px shade (@dark_bg_color, 0.7);
}

UnityDecoration.top:backdrop {
    border: 1px solid shade (@dark_bg_color, 1.04);
    border-bottom-width: 0;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (#474642, 0.9)),
                                     to (@dark_bg_color));
    box-shadow: inset 0 0 transparent, inset 0 0 transparent,
                inset 0 1px shade (#474642, 0.96), inset 0 0 transparent;
    color: #807d78;
}

UnityDecoration.left,
UnityDecoration.right {
    background-color: shade (@bg_color, 0.7);
    background-size: 1px 70px;
    background-repeat: repeat-x;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     color-stop (0, shade (@dark_bg_color, 1.04)),
                                     color-stop (0.5, shade (@dark_bg_color, 1.04)),
                                     color-stop (1, shade (@bg_color, 0.7)));
}

UnityDecoration.bottom {
    background-image: none;
    background-color: shade (@bg_color, 0.7);
}

/* Panel Style */

UnityPanelWidget,
.unity-panel {
    background-color: transparent;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.5)),
                                     to (shade (@dark_bg_color, 1.04)));
    border-top-color: shade (@dark_bg_color, 1.6);
    border-style: solid;
    border-width: 1px 0 0 0;

    color: @dark_fg_color;
    text-shadow: 0 -1px shade (@dark_bg_color, 0.7);
}

.unity-panel.menubar,
.unity-panel .menubar {
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 1px 1px 0 1px;
    icon-shadow: 0 -1px shade (@dark_bg_color, 0.7);
}

.unity-panel.menubar:backdrop,
.unity-panel .menubar *:backdrop {
    color: @backdrop_dark_fg_color;
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.5)),
                                     to (shade (@dark_bg_color, 1.11)));
}
